In [1]:
# code for loading the format for the notebook
import os

# path : store the current path to convert back to it later
path = os.getcwd()
os.chdir(os.path.join('..', '..', 'notebook_format'))
from formats import load_style
load_style()

In [2]:
os.chdir(path)

# 1. magic to print version
# 2. magic so that the notebook will reload external python modules
%load_ext watermark
%load_ext autoreload 
%autoreload 2

import numpy as np
import pandas as pd

%watermark -a 'Ethen' -d -t -v -p numpy,pandas

Ethen 2017-08-21 14:09:44

CPython 3.5.2
IPython 5.4.1

numpy 1.13.1
pandas 0.20.2

# Understanding Pandas Data Type

When working using pandas with small data (under 100 megabytes), performance is rarely a problem. When we move to larger data (100 megabytes to multiple gigabytes), performance issues can make run times much longer, and cause code to fail entirely due to insufficient memory. While tools like Spark can handle large data sets (100 gigabytes to multiple terabytes), taking full advantage of their capabilities usually requires more expensive hardware. And unlike pandas, they lack rich feature sets for high quality data cleaning, exploration, and analysis. For medium-sized data, weâ€™re better off trying to get more out of pandas, rather than switching to a different tool.

In this documentation, weâ€™ll learn about memory usage with pandas, how to make pandas DataFrame smaller and faster, simply by selecting the appropriate data types for columns.

In [3]:
drinks = pd.read_csv('http://bit.ly/drinksbycountry')
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

We'll first look at the memory usage of each column, because weâ€™re interested in accuracy, weâ€™ll set the argument `deep` to `True` to get an accurate number.

In [4]:
# drinks.info(memory_usage = 'deep')
# also works, it gives slightly different information
drinks.memory_usage(deep = True)

Index                              80
country                         12588
beer_servings                    1544
spirit_servings                  1544
wine_servings                    1544
total_litres_of_pure_alcohol     1544
continent                       12332
dtype: int64

Under the hood, pandas groups the columns into blocks of values of the same type, because each data type is stored separately, weâ€™re going to examine the memory usage by each data type.

In [5]:
for dtype in ('float', 'int', 'object'):
    selected_dtype = drinks.select_dtypes(include = [dtype])
    mean_usage_b = selected_dtype.memory_usage(deep = True).mean()
    # we can / 1024 ** 2 to convert bytes to megabytes
    print("Average memory usage for {} columns: {:03.2f} B".format(dtype, mean_usage_b))

Average memory usage for float columns: 812.00 B
Average memory usage for int columns: 1178.00 B
Average memory usage for object columns: 8333.33 B

Immediately we can see that most of our memory is used by our `object` columns. Weâ€™ll look at those later, but first lets see if we can improve on the memory usage for our numeric columns.


## Optimizing Numeric Columns

For blocks representing numeric values like integers and floats, pandas combines the columns and stores them as a NumPy ndarray. The NumPy ndarray is built around a C array, and the values are stored in a contiguous block of memory. This storage model consumes less space and allows us to access the values themselves quickly.

Many types in pandas have multiple subtypes that can use fewer bytes to represent each value. For example, the float type has the float16, float32, and float64 subtypes. The number portion of a typeâ€™s name indicates the number of bits that type uses to represent values. For example, the subtypes we just listed use 2, 4, 8 and  16 bytes, respectively. The following table shows the subtypes for the most common pandas types:

|memory usage|	float|	int	|uint	|datetime  |bool  |
|------------|-------|------|-------|----------|------|
|1 bytes	 | 	     | int8 |uint8  |	 	   |bool  |
|2 bytes	 |float16| int16|uint16 |	 	   |      |
|4 bytes	 |float32| int32|uint32 |	 	   |      |
|8 bytes	 |float64| int64|uint64 |datetime64|	  |

An int8 value uses 1 byte (or 8 bits) to store a value, and can represent 256 values (2^8) in binary. This means that we can use this subtype to represent values ranging from -128 to 127 (including 0). And uint8, which is unsigned int, means we can only have positive values for this type, thus we can represent 256 values ranging from 0 to 255.

We can use the `numpy.iinfo` class to verify the minimum and maximum values for each integer subtype. Letâ€™s look at an example:

In [6]:
int_types = ['uint8', 'int8', 'int16']
for it in int_types:
    print(np.iinfo(it))

Machine parameters for uint8
---------------------------------------------------------------
min = 0
max = 255
---------------------------------------------------------------

Machine parameters for int8
---------------------------------------------------------------
min = -128
max = 127
---------------------------------------------------------------

Machine parameters for int16
---------------------------------------------------------------
min = -32768
max = 32767
---------------------------------------------------------------

We can use the function `pd.to_numeric()` to downcast our numeric types. Weâ€™ll use `DataFrame.select_dtypes` to select only the integer columns, then weâ€™ll optimize the types and compare the memory usage.

In [7]:
def mem_usage(pandas_obj):
    """memory usage of a pandas DataFrame or Series"""
    # we assume if not a DataFrame it's a Series
    if isinstance(pandas_obj, pd.DataFrame):
        usage_b = pandas_obj.memory_usage(deep = True).sum()
    else:
        usage_b = pandas_obj.memory_usage(deep = True)

    return '{:03.2f} B'.format(usage_b)

In [8]:
drinks_int = drinks.select_dtypes(include = ['int'])
converted_int = drinks_int.apply(pd.to_numeric, downcast = 'unsigned')

print(mem_usage(drinks_int))
print(mem_usage(converted_int))

4712.00 B
1238.00 B

Lets do the same thing with our float columns.

In [9]:
drinks_float = drinks.select_dtypes(include = ['float'])
converted_float = drinks_float.apply(pd.to_numeric, downcast = 'float')

print(mem_usage(drinks_float))
print(mem_usage(converted_float))

1624.00 B
852.00 B

## Optimizing object types


The object type represents values using Python string objects, partly due to the lack of support for missing string values in NumPy. Because Python is a high-level, interpreted language, it doesn't have fine grained-control over how values in memory are stored.

We'll use `sys.getsizeof()` to prove this out, first by looking at individual strings, and then items in a pandas series.

In [10]:
from sys import getsizeof


s1 = 'working out'
s2 = 'memory usage for'
s3 = 'strings in python is fun!'
for s in [s1, s2, s3]:
    print(getsizeof(s))

60
65
74

In [11]:
obj_series = pd.Series(['working out',
                        'memory usage for',
                        'strings in python is fun!'])
obj_series.apply(getsizeof)

0    60
1    65
2    74
dtype: int64

We can see that the size of strings when stored in a pandas series are identical to their usage as separate strings in Python. This limitation causes strings to be stored in a fragmented way that consumes more memory and is slower to access. Each element in an object column is really a pointer that contains the "address" for the actual value's location in memory. For more information about this part consider referring to the following link. [Blog: Why Python is Slow: Looking Under the Hood](https://jakevdp.github.io/blog/2014/05/09/why-python-is-slow/)

To overcome this problem, Pandas introduced [`Categoricals`](http://pandas.pydata.org/pandas-docs/stable/categorical.html) in version 0.15. The category type uses integer values under the hood to represent the values in a column, rather than the raw values. Pandas uses a separate mapping dictionary that maps the integer values to the raw ones. This arrangement is useful whenever a column contains a limited set of values. When we convert a column to the category dtype, pandas uses the most space efficient int subtype that can represent all of the unique values in a column.

<img src="categorical.png" width="40%" height="40%">

Since the `country` and `continent` columns are strings, they are represented as object types in pandas. Now let's say, instead of storing strings, we want to store the `continent` column as integers to reduce the memory required to store them by converting it to categorical type. To apply this conversion, we simply have to convert the column type to `category` using the `.astype` method.

In [12]:
# convert and print the memory usage
continent_col = 'continent'
continent = drinks[continent_col]
continent_cat = drinks[continent_col].astype('category')
print(continent.head())
print(continent_cat.head())
# drinks.memory_usage(deep = True)

0      Asia
1    Europe
2    Africa
3    Europe
4    Africa
Name: continent, dtype: object
0      Asia
1    Europe
2    Africa
3    Europe
4    Africa
Name: continent, dtype: category
Categories (6, object): [Africa, Asia, Europe, North America, Oceania, South America]

As we can see, apart from the fact that the type of the column has changed, the data looks exactly the same. Pandas internals will smooth out the user experience so we donâ€™t notice that weâ€™re actually using a compact array of integers. 

Letâ€™s take a look at what's happening under the hood. In the following code chunk, we use the `Series.cat.codes` attribute to return the integer values the category type uses to represent each value.

In [13]:
# this is simply showing the first 5 row)
continent_cat.cat.codes[:5]

0    1
1    2
2    0
3    2
4    0
dtype: int8

This column doesnâ€™t have any missing values, but if it did, the `category` subtype handles missing values by setting them to `-1`.

We can also access the unique categories using the `Series.cat.categories` attribute. This information servers as the lookup table that stores the mappings of the integer representation to the original category.

In [14]:
continent_cat.cat.categories

Index(['Africa', 'Asia', 'Europe', 'North America', 'Oceania',
       'South America'],
      dtype='object')

Lastly, letâ€™s look at the memory usage for this column before and after converting to the  category type.

In [15]:
print('original: ', mem_usage(continent))
print('categorical: ', mem_usage(continent_cat))

original:  12412.00 B
categorical:  824.00 B

We can see that by converting the `continent` column to integers we're being more space-efficient. Apart from that it can actually speed up laters operations, e.g. sorting, groupby as we're storing the strings as compactly as integers. Let's apply this notion again to the `country` column.

In [16]:
country_col = 'country'
country = drinks[country_col]
country_cat = drinks[country_col].astype('category')
print('original: ', mem_usage(country))
print('categorical: ', mem_usage(country_cat))

original:  12668.00 B
categorical:  18174.00 B

This time, the memory usage for the country column is now larger. The reason is that the country column's  value is unique. If all of the values in a column are unique, the category type will end up using more memory because the column is storing all of the raw string values in addition to the integer category codes.

Thus we're actually creating 193 (shown below) unqiue categories, and we also have to store a lookup table for that.

In [17]:
country_cat.cat.categories.size

193

In summary, if we're working with an object column of strings, convert it to `category` type to make it for efficient. But this must be based on the assumption that the column takes a limited number of unique values, like in this case, the continent column only has 6 unique values.


## Selecting Types While Reading the Data In

So far, weâ€™ve explored ways to reduce the memory footprint of an existing dataframe. By reading the dataframe in first and then iterating on ways to save memory, we were able to understand the amount of memory we can expect to save from each optimization better. As we mentioned earlier in the mission, however, we often wonâ€™t have enough memory to represent all the values in a data set. How can we apply memory-saving techniques when we canâ€™t even create the dataframe in the first place?

Fortunately, we can specify the optimal column types when we read the data set in. The pandas.read_csv() function has a few different parameters that allow us to do this. The dtype parameter accepts a dictionary that has (string) column names as the keys and NumPy type objects as the values.

In [18]:
col_types = {'beer_servings': 'uint32',
             'continent': 'category',
             'country': 'object',
             'spirit_servings': 'uint32',
             'total_litres_of_pure_alcohol': 'float32',
             'wine_servings': 'uint32'}

# we can see that the column's memory usage is significantly
# smaller than before (the DataFrame at the beginning)
drinks = pd.read_csv('http://bit.ly/drinksbycountry', dtype = col_types)
drinks.memory_usage(deep = True)

Index                              80
country                         12588
beer_servings                     772
spirit_servings                   772
wine_servings                     772
total_litres_of_pure_alcohol      772
continent                         744
dtype: int64

## Ordered Categorical

Another usage of `category` is to specify its order to perform sorting.

In [19]:
# toy dataset that contains
# the id for a product and
# its corresponding customer review
df = pd.DataFrame({
    'ID': [100, 101, 102, 103],
    'quality': ['good', 'very good', 'good', 'excellent']
})
df

    ID    quality
0  100       good
1  101  very good
2  102       good
3  103  excellent

In [20]:
# if we do a sort on quality, it will be
# sorted alphabetically (default sorting for strings)
df.sort_values('quality')

    ID    quality
3  103  excellent
0  100       good
2  102       good
1  101  very good

In [21]:
# now we can specify our own ordering
df['quality'] = df['quality'].astype(
    'category', categories = ['good', 'very good', 'excellent'], ordered = True)

df.sort_values('quality')

    ID    quality
0  100       good
2  102       good
1  101  very good
3  103  excellent

In [22]:
# we can even use boolean method on this new ordering
df.loc[df['quality'] > 'good']

    ID    quality
1  101  very good
3  103  excellent

# Reference

- [Blog: Pandas Categoricals](https://www.continuum.io/content/pandas-categoricals)
- [Blog: Using pandas with large data](https://www.dataquest.io/blog/pandas-big-data/)
- [Youtube: How do I make my pandas DataFrame smaller and faster?](https://www.youtube.com/watch?v=wDYDYGyN_cw)